# ===== OS =====
.DS_Store
Thumbs.db

# ===== Visual Studio =====
.vs/
*.user
*.suo

# ===== .NET =====
**/bin/
**/obj/

# ===== Node / Angular =====
**/node_modules/
**/dist/
**/.angular/

# ===== Logs =====
*.log
